:root {
  --primary: hsl(215, 51%, 70%);
  --secondary: hsl(178, 100%, 50%);
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --fs: 18px;
  --font-family: "Outfit", sans-serif;
  --light: 300;
  --normal: 400;
  --bold: 600;
  --br: 10px;
  background-color: var(--main-bg);
  font-size: var(--fs);
  font-family: var(--font-family);
}

.card {
  text-align: left;
}

.card__img {
  border-radius: var(--br);
  max-width: 90%;
  height: auto;
}

.card__title {
  color: hsl(0, 0%, 100%);
  font-weight: var(--normal);
  font-size: calc(var(--fs) * 1.5);
}

.card__body {
  color: var(--primary);
  font-weight: var(--light);
}

.card__value {
  font-weight: var(--bold);
  color: var(--secondary);
}

.card__time {
  margin-left: auto;
}
